* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Chivo", sans-serif;
  font-size: 18px;
  color: #FFF;
  background-color: #121725;
  font-weight: 300;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.container {
  background: url("../../assets/desktop/image-host.jpg") no-repeat top right/contain;
  height: 640px;
  width: 100%;
  max-width: 1440px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin: 165px auto 0;
  position: relative;
}
.container .content-box {
  width: 60%;
  background-color: #121725;
  padding-left: 10%;
}
.container .content-box #logo {
  position: absolute;
  top: -30px;
}
.container .content-box .content {
  display: inline-block;
  background-color: #121725;
  padding: 99px 1.5rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.container .content-box .content h1 {
  color: #FFF;
  font-size: 52px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 1rem 0;
}
.container .content-box .content h1 .color-green {
  color: #54E6AF;
}
.container .content-box .content p {
  color: #C2CBE5;
  width: 437px;
  line-height: 28px;
}
.container .content-box .content .sign-up-container {
  margin: 40px 0;
}
.container .content-box .content .sign-up-container .sign-up-component {
  display: inline-block;
  background-color: #2C344B;
  border-radius: 100px;
  padding: 0.3rem;
}
.container .content-box .content .sign-up-container .sign-up-component input {
  display: inline-block;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 1rem 0 1rem 1.5rem;
  color: #FFF;
  font-weight: 700;
  width: 220px;
}
.container .content-box .content .sign-up-container .sign-up-component input::placeholder, .container .content-box .content .sign-up-container .sign-up-component input::-webkit-input-placeholder {
  font-weight: 700;
  border: none;
  color: #C2CBE5;
}
.container .content-box .content .sign-up-container .sign-up-component input:-webkit-autofill, .container .content-box .content .sign-up-container .sign-up-component input:-webkit-autofill:hover, .container .content-box .content .sign-up-container .sign-up-component input:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #FFF;
  box-shadow: none;
  -webkit-box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
}
.container .content-box .content .sign-up-container .sign-up-component button {
  display: inline-block;
  background-color: #54E6AF;
  color: #121725;
  text-transform: capitalize;
  border-radius: 100px;
  padding: 1rem 1.5rem;
  border: none;
  font-weight: 700;
}
.container .content-box .content .sign-up-container .sign-up-component button:hover {
  cursor: pointer;
  color: #B3FFE2;
  background-color: #B3FFE2;
  color: #121725;
}
.container .content-box .content .sign-up-container p.error-message {
  color: #FB3E3E;
  font-size: 12px;
  padding: 0 1.8rem 0.4rem;
  display: none;
  position: absolute;
  font-weight: 700;
}
.container .content-box .content .sign-up-container p.error-message.show-error {
  display: block;
}
.container .content-box .content .platforms img {
  opacity: 0.6;
}
.container .content-box .content .platforms #apple-podcasts, .container .content-box .content .platforms #google-podcasts, .container .content-box .content .platforms #pocket-casts {
  margin-left: 2rem;
}
.container .content-box .content .platforms #spotify {
  width: 96px;
}
.container .content-box .content .platforms #apple-podcasts {
  width: 78px;
}
.container .content-box .content .platforms #google-podcasts {
  width: 125px;
  padding-bottom: 4px;
}
.container .content-box .content .platforms #pocket-casts {
  width: 129px;
}

/*# sourceMappingURL=style.css.map */
