* {
    margin:0;
    padding:0;
}

body {
    font-family: 'Chivo', sans-serif;
    // font-weight: 300; //not sure about this just yet
    font-size: 18px;
    // line-height: 28px;
    color: $color-white;
    background-color:$color-darker-blue;
    font-weight: 300;

    // height: 100vh;
    // display: flex;
    // align-items: center;
    // justify-content: flex-start;
}

h1 {
    color: $color-white;
    font-size: 52px;
    font-weight: 300;
    text-transform:uppercase;
    margin: 1rem 0;
    
    .color-green {
        color:$color-green;
    }
}

p {
    color:$color-light-gray;
    width: 437px; //careful of this one - should it be 'max-width' ?
    line-height: 28px;
}