.container {
    background: url('../../assets/desktop/image-host.jpg') no-repeat top right/contain;
    height: 640px;
    
    width: 100%; //maybe I don't need this
    max-width: 1440px;
    
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin:165px auto 0; //reset this
    position: relative;
    
    .content-box {
        // width: 62%; //not sure about this
        background-color:$color-darker-blue;
        padding-left: 10%;
        box-sizing: border-box;

        #logo {
            position: absolute;
            top: -30px;
        }
        
        // ---------- Content box ---------- 
        .content {
            display: inline-block;
            background-color: $color-darker-blue;
            //width: 723px; //not sure about this
            padding: 99px 3rem 0 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            .sign-up-container {
                margin: 40px 0;
            }
            
            .platforms {
                // display: flex;
                img {
                    opacity: 0.6;
                }
                
                #apple-podcasts, #google-podcasts, #pocket-casts{
                    margin-left: 2rem;
                }
                
                #spotify {
                    width: 96px;
                }
                
                #apple-podcasts {
                    width: 78px;
                }
                
                #google-podcasts {
                    width: 125px;
                    padding-bottom: 4px;
                }
                
                #pocket-casts {
                    width: 129px;
                }
            }
        }
    }

    #dotted-img {
        position: absolute;
        right: 0;
        bottom: -52px;
    }
}

// laptop sizes
@media screen and (max-width:1160px) {
    .container {
        margin: 0;
        position: static;

        .content-box {
            padding-left: 20px;
            // width:80%;

            #logo {
                top: 56px;
            }
        }

        #dotted-img { //there is a problem here
            position: absolute;
            right: unset;
            bottom: 0; //maybe this is a fix?
            left: 20px;
            z-index: -3;
        }
    }
}


@media screen and (max-width:1060px) {
    .container {
        background: url("../../assets/tablet/image-host.jpg") no-repeat top right/contain;
        height: 767px;
    }
}

//ipad and tablets
// @media screen and(max-width:768px) {
@media screen and(max-width:836px) {
    .container {
        background: none;
        display: block;
        height: unset;

        .content-box {
            // border: 1px solid orange;
            width: 100%;
            text-align: center;
            padding: 0;
            
            .content {
                background: linear-gradient($color-gradient, $color-gradient), url("../../assets/mobile/image-host.jpg") no-repeat center center/cover;
                padding: 0 24px;

                p {
                    width: unset;
                }
            }

            #logo {
                position: static;
            }
        }

        #dotted-img {
            display: none;
        }
    }
    
    p.error-message {
        position: static;
    }
}

//mobile screens
@media screen and(max-width:479px) {
    
}