.container {
    background: url('../../assets/desktop/image-host.jpg') no-repeat top right/contain;
    height: 640px;
    
    width: 100%; //maybe I don't need this
    max-width: 1440px;
    
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin:165px auto 0; //reset this
    position: relative;
    
    .content-box {
        // width: 62%; //not sure about this
        background-color:$color-darker-blue;
        padding-left: 10%;
        box-sizing: border-box;

        #logo {
            position: absolute;
            top: -30px;
        }
        
        // ---------- Content box ---------- 
        .content {
            display: inline-block;
            background-color: $color-darker-blue;
            //width: 723px; //not sure about this
            padding: 99px 3rem 0 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            .sign-up-container {
                margin: 40px 0;
            }
            
            .platforms {
                // display: flex;
                img {
                    opacity: 0.6;
                }
                
                #apple-podcasts, #google-podcasts, #pocket-casts{
                    margin-left: 2rem;
                }
                
                #spotify-img {
                    width: 96px;
                }
                
                #apple-podcasts {
                    width: 78px;
                }
                
                #google-podcasts {
                    width: 125px;
                    padding-bottom: 4px;
                }
                
                #pocket-casts {
                    width: 129px;
                }
            }
        }
    }

    #dotted-img {
        position: absolute;
        right: 0;
        bottom: -52px;
    }
}