// laptop sizes
@media screen and (max-width:1160px) {
    .container {
        margin: 0;
        position: static;
        
        .content-box {
            padding-left: 20px;
            // width:80%;
            
            #logo {
                top: 56px;
            }
        }
        
        #dotted-img { //there is a problem here
            position: absolute;
            right: unset;
            bottom: 0; //maybe this is a fix?
            left: 20px;
            z-index: -3;
        }
    }
}


@media screen and (max-width:1060px) {
    .container {
        background: url("../../assets/tablet/image-host.jpg") no-repeat top right/contain;
        height: 767px;
    }
}

//tablet
@media screen and(max-width:768px) {
    .container {
        .content-box {
            // width: 85%;
            width: 524px;
            box-sizing: border-box;
            .content {
                padding: 50px 3rem 0 0;

                .platforms {                    
                    #apple-podcasts, #google-podcasts, #pocket-casts{
                        margin-left: 0.3rem;
                    }
                }
            }
        }
    }
}


//mobile screens
@media screen and(max-width:600px) {
    .container {
        display: block;
        height: unset;
        background: linear-gradient($color-gradient, $color-gradient), url("../../assets/mobile/image-host.jpg") no-repeat center center/cover;
        
        .content-box {
            background-color: unset;
            width: 100%;
            text-align: center;
            padding: 0;
            
            .content {
                padding: 0 24px;
                background-color: unset;
                
                p {
                    &.text-content{
                        width: unset;
                    }
                    
                    &.error-message {
                        padding: 0;
                        width: 100%;
                        left: 0;
                        /** Do not add    'bottom:0' ! Will break CSS, and it not necessary. */
                    }
                }

                .platforms {
                    margin: 20px 0 0;
                }
            }
            
            #logo {
                position: static;
                padding: 56px 0;
            }
        }
        
        #dotted-img {
            display: none;
        }
    }
    
    //typography
    h1 {
        font-size: 26px;
    }
    
    p {
        font-size: 15px;
    }
    
    // submit button component
    .sign-up-container {
        order: 4;

        .sign-up-component {
            background-color: unset;
            border-radius: unset;
            width: 100%;
            padding: 0;
            
            input {
                width: 100%;
                display: block;
                box-sizing: border-box;
                background-color: $color-dark-blue;
                padding: 1rem 1.5rem;
                border-radius: 100px;
                margin-bottom: 16px;
            }
            
            button#submit {
                width: 100%;
                display: block;
            }
        }
    }
}

@media screen and (max-width: 503px){
    .container {        
        .content-box {
            .content {
                .platforms {
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    gap: 10px;
                    margin: 20px auto 0;

                    #apple-podcasts, #google-podcasts, #pocket-casts{
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 320px){
    .container {        
        .content-box {
            .content {
                .platforms {
                    display: grid;
                    grid-template-columns: repeat(1,1fr);
                    gap: 10px;
                }
            }
        }
    }
}