$color-green: #54E6AF;
$color-light-green: #B3FFE2;

$color-red: #FB3E3E;

//blue
$color-dark-blue:#2C344B;
$color-darker-blue:#121725;

// gray
$color-dark-gray: #5A668A;
$color-light-gray:#C2CBE5;
$color-white: #FFF;

//gradient
$color-gradient:#121725de;
